<div class="row">
  <div class="col-md-8 well col-md-offset-2  recipe_form">
    <%= bootstrap_form_for(@chef) do |f| %>
      
      <%= f.text_field :chefname %>

      <%= f.email_field :email %>

      <%= f.password_field :password %>
      
      <%= f.submit(@chef.new_record? ? 'Register' : 'Edit Profile', class: "btn btn-success") %>
    <% end %>
  </div>
</div>